In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
#imdb reviews of shows! maybe try using matplot lib on this one, lots of categorical data
df1= pd.read_csv(r"C:\Users\latri\Desktop\Latrice tech growth\Datas\IMBD.csv")
df1

,Unnamed: 0,id,name,origin_country,original_language,original_name,popularity,vote_average,vote_count
0,0,130392,The D'Amelio Show,['US'],en,The D'Amelio Show,15.457,9.4,2727
1,1,100,I Am Not an Animal,['GB'],en,I Am Not an Animal,11.155,9.2,709
2,2,94605,Arcane,['US'],en,Arcane,123.962,9.1,2191
3,3,124834,Heartstopper,['GB'],en,Heartstopper,209.484,9.0,326
4,4,19239,"Conan, the Boy in Future",['JP'],ja,未来少年コナン,25.246,9.0,103
...,...,...,...,...,...,...,...,...,...
2455,2455,1769,Johnny Test,"['CA', 'US']",en,Johnny Test,23.250,5.6,114
2456,2456,67132,Kevin Can Wait,['US'],en,Kevin Can Wait,9.246,5.6,118
2457,2457,4551,America's Got Talent,['US'],en,America's Got Talent,41.323,5.6,210
2458,2458,987,General Hospital,['US'],en,General Hospital,285.262,5.6,182
2459,2459,5917,90210,['US'],en,90210,28.440,5.6,129

In [6]:
df1.describe

<bound method NDFrame.describe of       Unnamed: 0      id                      name origin_country  \
0              0  130392         The D'Amelio Show         ['US']
1              1     100        I Am Not an Animal         ['GB']
2              2   94605                    Arcane         ['US']
3              3  124834              Heartstopper         ['GB']
4              4   19239  Conan, the Boy in Future         ['JP']
...          ...     ...                       ...            ...
2455        2455    1769               Johnny Test   ['CA', 'US']
2456        2456   67132            Kevin Can Wait         ['US']
2457        2457    4551      America's Got Talent         ['US']
2458        2458     987          General Hospital         ['US']
2459        2459    5917                     90210         ['US']

     original_language         original_name  popularity  vote_average  \
0                   en     The D'Amelio Show      15.457           9.4
1                   en    I Am Not an Animal      11.155           9.2
2                   en                Arcane     123.962           9.1
3                   en          Heartstopper     209.484           9.0
4                   ja               未来少年コナン      25.246           9.0
...                ...                   ...         ...           ...
2455                en           Johnny Test      23.250           5.6
2456                en        Kevin Can Wait       9.246           5.6
2457                en  America's Got Talent      41.323           5.6
2458                en      General Hospital     285.262           5.6
2459                en                 90210      28.440           5.6

      vote_count
0           2727
1            709
2           2191
3            326
4            103
...          ...
2455         114
2456         118
2457         210
2458         182
2459         129

[2460 rows x 9 columns]>

In [2]:
#looking at the information of famous dead people, could so some good recoding on this and look at correlations to age of death
#does occupation/ gender predict age of death, etc
df2= pd.read_csv(r"C:\Users\latri\Desktop\Latrice tech growth\Datas\AgeData.csv")
df2

,Id,Name,Short description,Gender,Country,Occupation,Birth year,Death year,Manner of death,Age of death
0,Q23,George Washington,1st president of the United States (1732–1799),Male,United States of America; Kingdom of Great Britain,Politician,1732,1799.0,natural causes,67.0
1,Q42,Douglas Adams,English writer and humorist,Male,United Kingdom,Artist,1952,2001.0,natural causes,49.0
2,Q91,Abraham Lincoln,16th president of the United States (1809-1865),Male,United States of America,Politician,1809,1865.0,homicide,56.0
3,Q254,Wolfgang Amadeus Mozart,Austrian composer of the Classical period,Male,Archduchy of Austria; Archbishopric of Salzburg,Artist,1756,1791.0,NaN,35.0
4,Q255,Ludwig van Beethoven,German classical and romantic composer,Male,Holy Roman Empire; Austrian Empire,Artist,1770,1827.0,NaN,57.0
...,...,...,...,...,...,...,...,...,...,...
1223004,Q77247326,Marie-Fortunée Besson,Frans model (1907-1996),NaN,France,Tailor; model,1907,1996.0,NaN,89.0
1223005,Q77249504,Ron Thorsen,xugador de baloncestu canadianu (1948–2004),NaN,Canada; United States of America,Athlete,1948,2004.0,NaN,56.0
1223006,Q77249818,Diether Todenhagen,German navy officer and world war II U-boat commander,NaN,Germany,Military personnel,1920,1944.0,NaN,24.0
1223007,Q77253909,Reginald Oswald Pearson,"English artist, working in stained glass, printmaking and jewellery",Male,United Kingdom,Artist,1887,1915.0,NaN,28.0
1223008,Q77254864,Horst Lerche,German painter,Male,Germany,Artist,1938,2017.0,NaN,79.0